{% extends 'blog/navfoot.html'%}

  {% block content %}
    <div class="card mt-2 mb-3 text-white bg-warning" style="width: 70%; margin: 0 auto; text-align: center;">
        <div class="card-header">
            FORMATION GeoGeBra
        </div>
    </div>

    
    <div class="card mt-2 mb-2 " style="width: 70%; margin: 0 auto; text-align: left;">
        <div class="card-header text-white bg-secondary">
            Chapitre 1 : Introduction à la Géogebra
        </div>
        <div class="card-body">
            <h5>1-Introduction</h5>
            <p>
                GeoGebra est un logiciel mathématique qui allie dessin géométrique, données et calculs analytiques. L’idée et le 
            développement sont de Markus Hohenwarter de l’université de Salzburg pour l’enseignement des mathématiques. Il a 
            été traduit en français par Noël <br>
                • D’une part, GeoGebra est un logiciel de géométrie dynamique. Vous pouvez construire des points, des 
            vecteurs, des segments, des droites, des coniques mais aussi des courbes représentatives de fonctions ou des 
            courbes paramétrées et les modifier ensuite de manière dynamique. <br>
                • D’autre part, les équations et les coordonnées peuvent être saisies directement. Ainsi, GeoGebra est capable de 
            traiter avec des variables des nombres, des vecteurs et des points, de dériver ou d’intégrer des fonctions et 
            offre des commandes comme Racine ou Extremum. <br>
                • Ces deux aspects sont caractéristiques de GeoGebra : une expression dans la fenêtre « Algèbre » correspond à 
            un objet dans la fenêtre Géométrie (Feuille de travail) et vice versa. 
            </p>
        </div>
    </div>
    
    
  {% endblock %}